$brand-primary: #4d84ff;
$brand-primary-light: #d8efff;
$side-bar-width: 30%;
$element-side-bar-width: 10%;
$modal-bg: rgba(31, 32, 35, 0.7);
$opaque-bg: rgba(71, 71, 70, 0.4);
$opaque-bg2: rgba(71, 71, 70, 0.95);

:export {
  primaryColor: $brand-primary;
  backgroundColor: $brand-primary-light;
}
